{% extends 'home/home.html' %}

{% block content %}
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title"><span class="glyphicon glyphicon-plus"></span>用户注册</h3>
            </div>
            <div class="panel-body">
                <form role="form" method="post">
                    <fieldset>
                        <div class="form-group">
                            <span class="glyphicon glyphicon-user"></span>
                            {{ form.name.label }}
                            {% for err in form.name.errors %}
                            <div class="col-md-12">
                                <font style="color: red;">{{ err }}</font>
                            </div>
                            {% endfor %}
                            {{ form.name(autofocus="autofocus") }}
                        </div>
                        <div class="form-group">
                            <span class="glyphicon glyphicon-envelope"></span>
                            {{ form.email.label }}
                            {% for err in form.email.errors %}
                            <div class="col-md-12">
                                <font style="color: red;">{{ err }}</font>
                            </div>
                            {% endfor %}
                            {{ form.email }}
                        </div>
                        <div class="form-group">
                            <span class="glyphicon glyphicon-phone"></span>
                            {{ form.phone.label }}
                            {% for err in form.phone.errors %}
                            <div class="col-md-12">
                                <font style="color: red;">{{ err }}</font>
                            </div>
                            {% endfor %}
                            {{ form.phone }}
                        </div>
                        <div class="form-group">
                            <span class="glyphicon glyphicon-lock"></span>
                            {{ form.pwd.label }}
                            {% for err in form.pwd.errors %}
                            <div class="col-md-12">
                                <font style="color: red;">{{ err }}</font>
                            </div>
                            {% endfor %}
                            {{ form.pwd }}
                        </div>
                        <div class="form-group">
                            <span class="glyphicon glyphicon-lock"></span>
                            {{ form.pwd2.label }}
                            {% for err in form.pwd2.errors %}
                            <div class="col-md-12">
                                <font style="color: red;">{{ err }}</font>
                            </div>
                            {% endfor %}
                            {{ form.pwd2 }}
                        </div>
                        {{ form.submit }}
                    </fieldset>
                    {{ form.csrf_token }}
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
