{% extends 'home/home.html'%}
{% import 'ui/admin_page.html' as pg %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb" style="margin-top:6px;">
            {% if key_words|length == 0 %}
            <li>请输入您要搜索的关键字！</li>
            {% else %}
            <li>已找到与"{{ key_words }}"有关的电影，共{{ page_data.items|length }}部.</li>
            {% endif %}
        </ol>
    </div>
    <div class="col-md-12">
        {% for movie in page_data.items %}
        <div class="media">
            <div class="media-left">
                <a href="{{ url_for('home.play', id=movie.id) }}">
                    <img class="media-object" src="{{ url_for('static', filename='uploads/'+movie.logo) }}" alt="{{ movie.title }}" style="width:200px;height:150px;">
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading">{{ movie.title }}<a href="{{ url_for('home.play', id=movie.id) }}" class="label label-primary pull-right"><span class="glyphicon glyphicon-play"></span>播放影片</a></h4>
                {{ movie.info }}
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="col-md-12 text-center">
        <nav aria-label="Page navigation">
            {{ pg.page(page_data, "home.search", key_words=key_words) }}
        </nav>
    </div>
</div>
{% endblock %}
