{% extends 'admin/admin.html' %}

{% block content %}
<section class="content-header">
    <h1>微电影管理系统</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>电影管理</a></li>
        <li class="active">添加电影</li>
    </ol>
</section>
<section class="content" id="showcontent">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">添加电影(TODO: 上传时的Loading动画)</h3>
                </div>
                <form role="form" method="post" enctype="multipart/form-data">
                    <div class="box-body">
                        {% for msg in get_flashed_messages(category_filter=['ok']) %}
                        <div class="alert alert-success alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <h4><i class="icon fa fa-check"></i>非常棒!</h4>
                            {{ msg }}
                        </div>
                        {% endfor %}
                        {% for msg in get_flashed_messages(category_filter=['err']) %}
                        <div class="alert alert-danger alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <h4><i class="icon fa fa-ban"></i>出错了!</h4>
                            {{ msg }}
                        </div>
                        {% endfor %}
                        <div class="form-group">
                            {{ form.title.label }}
                            {{ form.title }}
                            {% for err in form.title.errors %}
                            <div class="col-md-12">
                                <font style="color: red;">{{ err }}</font>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            {{ form.url.label }}
                            {{ form.url }}
                            {% for err in form.url.errors %}
                            <div class="col-md-12">
                                <font style="color: red;">{{ err }}</font>
                            </div>
                            {% endfor %}
                            <div style="margin-top:5px;display:none;">
                                <div id="moviecontainer"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form.info.label }}
                            {{ form.info }}
                            {% for err in form.info.errors %}
                            <div class="col-md-12">
                                <font style="color: red;">{{ err }}</font>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            {{ form.logo.label }}
                            {{ form.logo }}
                            {% for err in form.logo.errors %}
                            <div class="col-md-12">
                                <font style="color: red;">{{ err }}</font>
                            </div>
                            {% endfor %}
                            <!-- <img data-src="holder.js/640x360?random=yes" style="margin-top:5px;" class="img-responsive" alt=""> -->
                        </div>
                        <div class="form-group">
                            {{ form.star.label }}
                            {{ form.star }}
                            {% for err in form.star.errors %}
                            <div class="col-md-12">
                                <font style="color: red;">{{ err }}</font>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            {{ form.tag_id.label }}
                            {{ form.tag_id }}
                            {% for err in form.tag_id.errors %}
                            <div class="col-md-12">
                                <font style="color: red;">{{ err }}</font>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            {{ form.area.label }}</label>
                            {{ form.area }}
                            {% for err in form.area.errors %}
                            <div class="col-md-12">
                                <font style="color: red;">{{ err }}</font>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            {{ form.length.label }}
                            {{ form.length }}
                            {% for err in form.length.errors %}
                            <div class="col-md-12">
                                <font style="color: red;">{{ err }}</font>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            {{ form.release_time.label }}
                            {{ form.release_time }}
                            {% for err in form.release_time.errors %}
                            <div class="col-md-12">
                                <font style="color: red;">{{ err }}</font>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="box-footer">
                        {{ form.submit }}
                    </div>
                    {{ form.csrf_token }}
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block js %}
<script>
    $(document).ready(function(){
        $('#input_release_time').datepicker({
            autoclose: true,
            format: 'yyyy-mm-dd',
            language: 'zh-CN',
        });
        $("#g-3").addClass("active");
        $("#g-3-1").addClass("active");
    });
</script>
{% endblock %}
