{% macro page(data, url, key_words=None) %}
{% if data %}
<ul class="pagination pagination-sm no-margin pull-right">
    <li>
        {% if data.pages != 0 %}
        <a href="{{ url_for(url, page=1, key_words=key_words) }}">首页</a>
        {% else %}
        <a>首页</a>
        {% endif %}
    </li>
    {% if data.has_prev %}
    <li><a href="{{ url_for(url, page=data.prev_num, key_words=key_words) }}">上一页</a></li>
    {% else %}
    <li><a>上一页</a></li>
    {% endif %}
    {% for v in data.iter_pages() %}
    {% if v == data.page %}
    <li class="active"><a href="#">{{ v }}</a></li>
    {% else %}
    <li><a href="{{ url_for(url, page=v, key_words=key_words) }}">{{ v }}</a></li>
    {% endif %}
    {% endfor %}
    {% if data.has_next %}
    <li><a href="{{ url_for(url, page=data.next_num, key_words=key_words) }}">下一页</a></li>
    {% else %}
    <li><a>下一页</a></li>
    {% endif %}
    <li>
        {% if data.pages != 0 %}
        <a href="{{ url_for(url, page=data.pages, key_words=key_words) }}">尾页</a>
        {% else %}
        <a>尾页</a>
        {% endif %}
    </li>
</ul>
{% endif %}
{% endmacro %}
